<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<form method="POST">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <div class="mb-3">
    <label class="form-label" name="email">Email address:</label>
    <input class="form-control" name="email" placeholder="abc@example.com"/>
  </div>
  <div class="mb-3">
    <label class="form-label" name="password">Enter your password:</label>
    <input class="form-control" type="password" name="password" />
  </div>
  <div>
      <button class="btn btn-primary">Logon</button>
      <a href="/">
        <button type="button" class="btn btn-secondary">Cancel</button>
      </a>
  </div>
</form>
<%- include("partials/footer.ejs") %>