<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs, , {errors, info}") %>
   <p>The page <%= url %> was not found.</p>
   <p><a href="/"">Home page.</a></p>
<%- include("/partials/footer.ejs") %>