<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<div class="container">
<div class="row">
  <div class="col-sm-6">
    <form method="POST" onsubmit="return validateForm()">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      <div class="mb-3">
        <label class="form-label" name="name">Enter your name:</label>
        <input class="form-control" id="name" name="name" required/>
      </div>
      <div class="mb-3">
        <label class="form-label" name="email">Enter your email:</label>
        <input class="form-control"name="email" id="email" required/>
      </div>
      <div class="mb-3">
        <label class="form-label" name="password">Enter your password:</label>
        <input class="form-control" type="password" name="password" id="password" required/>
      </div>
      <div class="mb-3">
        <label class="form-label" name="password1">Confirm your password:</label>
        <input class="form-control" type="password" name="password1" id="password1" required/>
      </div>
      <div>
        <button class="btn btn-primary">Register</button>
        <a href="/">
          <button class="btn btn-secondary" type="button">Cancel</button>
        </a>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
      <!-- Content for the second column -->
  </div>
</div>
</div>
<script >
  function validateForm() {
    const name = document.getElementById('name').value;
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const password1 = document.getElementById('password1').value;

 // Regular expression to validate email format
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    // Regular expression to validate password format
    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$&*]).{8,}$/;

   if (!emailRegex.test(email)) {
      alert('Please enter a valid email address.');
      return false;
    }

    if (!passwordRegex.test(password)) {
      alert('Password must have at least 8 characters with at least one lower case letter, one upper case letter, one number, and one of the characters !@#$&*');
      return false;
    }

    if (password !== password1) {
      alert('Passwords do not match.');
      return false;
    }
   
    return true;
  }
</script>
<%- include("partials/footer.ejs") %>